.eczane-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 0.5rem;
    margin: 1rem 0;
    border-radius: 12px;
    background-color: #4b4b4b;
}

.eczane-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: flex-end;
    flex-flow: column-reverse;
    justify-content: flex-start;
    flex: 1;
}

.eczane-item h2 {
    color: #3a3a3a;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color: white;
}

.eczane-item__ad {
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: #0c605d;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
}

@media (min-width: 580px) {
    .eczane-items {
        color: white;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        flex: 1;
    }

    .eczane-items h2 {
        font-size: 1.25rem;
    }

    .eczane-item__ad {
        font-size: 1.25rem;
        padding: 0.5rem 1.5rem;
    }
     .eczane-item button:focus{
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
    }
    
    .eczane-item button{
        display: inline-block;
        padding: 10px 15px;
        border-radius: 8px;
        background-size: 200%;
        background-position: 0%;
        background-image: linear-gradient(to left, #58c3bd 50%, #58c3bd 50%,#FE4880 50%);
        transition: 0.4s;
        color: #FFF;
        font-weight: 700;
        cursor: pointer;
    
    }
    button{
        appearance: none;
        background: none;
        border: none;
        outline: none;
    }
    .eczane-item button:hover{
    
        background-position: 100% 0%;
    }
    
}